*.sqlite*
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.env
/.env.backup
Homestead.yaml
Homestead.json
.env.local
.env.*.local

# Laravel 6+ cache
bootstrap/cache/*.php

# Ignore MacOS system files
*.DS_Store

# Ignore Linux system files
*~

# Ignore npm debug log
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore coverage files
coverage

# Ignore PHPUnit result cache
.phpunit.result.cache

# Ignore phpcs/psalm/phpstan cache files
.phpcs.cache
.psalm/cache
.phpstan/cache
